html {
  scroll-behavior: smooth;
}

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}
  
  /* Global */
.container{
    width:85%;
    margin:auto;
    overflow:hidden;
}
  
ul{
    margin:0;
    padding:0;
}
  
section h2{
    text-transform: uppercase;
    text-align: center;
    margin-top: 2vh;
}

  /* Header */
  header{
    background:#35424a;
    color:#ffffff;
    padding-top:5px;
    padding-bottom:5px;
    min-height:10px;
    border-bottom:#e8491d 3px solid;
    
    /* for sticky header */
    position: fixed;
    width: 100%;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  

/* Home */
#home{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://github.com/shawaine/shawaine.github.io/blob/master/img/bg.jpg?raw=true);
    background-position: center;
    background-size: cover;
    
}

#home h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 27vh;
    letter-spacing: 4px;
    font-size: 300%;
}

#home h3{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}

/* Projects */
#projects{
    padding-top: 50px;
    min-height: 80vh;
    background-color: #000000;
    color: #ffffff;
}

#projects h1{
    text-align: center;
    margin-top: 28vh;
}

/* Education */
#education{
    padding-top: 50px;
    min-height: 35vh;
    background-color: #ffffff;
    color: #000000;
}

#education h1{
    text-align: center;
    margin-top: 10vh;
}

#education h4{
    text-align: center;
}

/* Skills */
#skills{
    padding-top: 50px;
    min-height: 58vh;
    background-color: #000000;
    color: #ffffff;
}


/* Lists */
.list{
    margin-top: 69px;
}

#skills .list{
    float: left;
    width: 25%;
    text-align: center;
}

#skills .list ul{
    list-style-type: none;
}

#skills .list ol{
    text-align: center;
}

/* Footer */
footer{
    padding:20px;
    margin-top:0;
    color:#ffffff;
    background-color:#d33a0f;
    text-align: center;
}


/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #skills .list{
      float:none;
      text-align:center;
      width:100%;
      padding-top:0;
    }

    header{
      padding-bottom:5px;
    }
  }























